@use 'mixins' as mixins;

@include mixins.base;

:where(
	h1,
	.h1,
	.heading-1,
	h2,
	.h2,
	.heading-2,
	h3,
	.h3,
	.heading-3,
	h4,
	.h4,
	.heading-4,
	h5,
	.h5,
	.heading-5,
	h6,
	.h6,
	.heading-6
) {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-heading);
	line-height: var(--heading-line-height);
	color: var(--heading-color);
}

.h {
	@include mixins.heading;
}

.font {
	@include mixins.font-size;
	@include mixins.font-style;
	@include mixins.font-weight;
}

.text {
	@include mixins.text-align;
	@include mixins.text-decoration;
	@include mixins.text-transform;
}

.line-height {
	@include mixins.line-height;
}
