@use '../../abstracts/mixins' as mixin;

@mixin variables {
	--font-family:
		ui-sans-serif, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Helvetica, 'Apple Color Emoji', Arial,
		sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-family-heading: var(--font-family);
	--font-family-text: var(--font-family);
	--font-family-code: var(--font-family);

	--font-weight-heading: 600;
	--font-weight-text: 400;
	--font-weight-code: var(--font-family-text);

	--heading-1: 2.5em;
	--heading-2: 2em;
	--heading-3: 1.5em;
	--heading-4: 1.25em;
	--heading-5: 1em;
	--heading-6: 0.75em;

	@include mixin.var-size-range(true, 'font-size');

	--heading-line-height: 100%;
	--font-line-height: 1.4;

	--small-size: 0.75rem;

	--heading-color: initial;
	--text-color: initial;
	--code-color: initial;
}
