@use 'functions' as function;
@use '../utilities/prefix' as prefix;

//#region Media Down
// Mixin responsável por criar o media-query desktop first

// Inputs:
// 	$breakpoint: String com o breakpoint

@mixin media-down($breakpoint) {
	@media (max-width: function.get-breakpoint($breakpoint)) {
		@content;
	}
}
//#endregion

@mixin media-mobile {
	@include media-down('lg') {
		@content;
	}
}

//#region Responsive class
// Mixin responsible for creating the prefix for responsive classes

// Inputs:
// 	$prefix-check: Boolean that checks if the prefix will be used
// 	$breakpoint: String with the breakpoint
// 	$class: String with the class name

@mixin responsive-class(
	$prefix-check,
	$breakpoint,
	$class
) {
	@if $prefix-check == true and prefix.$prefix != '' {
		@if $breakpoint == '2xl' {
			.\32xl\:#{prefix.$prefix}-#{$class} {
				@content;
			}
		} @else {
			.#{$breakpoint}\:#{prefix.$prefix}-#{$class} {
				@content;
			}
		}
	} @else {
		@if $breakpoint == '2xl' {
			.\32xl\:#{$class} {
				@content;
			}
		} @else {
			.#{$breakpoint}\:#{$class} {
				@content;
			}
		}
	}
}
// Condicionais - Prefixo, Se é 2XL, Se possui mais de uma classe

//#endregion

//#region Size variables
// Mixin responsável por criar todas as variáveis de tamanho com base na tabela de tamanhos da documentação

@mixin var-size {
	@for $i from 0 through 16 {
		@if $i == 0 {
			--#{$i}: #{$i}rem;
		} @else if $i >= 1 and $i <= 4 {
			--#{$i}: #{calc(($i * 2) / 16)}rem;
		} @else if $i > 4 and $i <= 14 {
			--#{$i}: #{calc((($i * 4) - 8) / 16)}rem;
		} @else if $i > 14 and $i <= 16 {
			--#{$i}: #{calc((($i * 8) - 64) / 16)}rem;
		}
	}
}
//#endregion

//#region Property
// Mixin
@mixin property($property, $classes...) {
	@each $class in $classes {
		&-#{$class} {
			#{$property}: $class;
		}
	}
}
//#endregion

//#region Property name
// Mixin

@mixin property-name($name, $property, $values...) {
	@each $value in $values {
		&-#{$name}-#{$value} {
			#{$property}: $value;
		}
	}
}
//#endregion

//#region Flexbox mixin
// This mixin is responsible for creating the flexbox properties in both components

@mixin display-flex {
	&-flex {
		display: flex;

		&-start {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}

		&-center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-end {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}

	&-inline-flex {
		display: inline-flex;

		&-center {
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@mixin display-grid {
	&-grid {
		display: grid;
	}

	&-inline-grid {
		display: inline-grid;
	}
}

// #endregion
