@use 'functions' as function;
@use '../utilities/prefix' as prefix;

/// Mixin for creating media queries for screens smaller than the specified breakpoint
///
/// @require {function} function.get-breakpoint - Function to get the breakpoint value
///
/// @param {string} breakpoint - Name of the breakpoint to be used
///
/// @example scss - @include media-down('md') { ... }
///
/// @output Media query for screens smaller than the specified breakpoint
@mixin media-down($breakpoint) {
	@media (max-width: function.get-breakpoint($breakpoint)) {
		@content;
	}
}

/// Shortcut mixin for mobile devices (smaller than 'lg' breakpoint)
///
/// @require {mixin} media-down - Mixin for media queries
///
/// @example scss - @include media-mobile { ... }
///
/// @output Media query for mobile devices
@mixin media-mobile {
	@include media-down('lg') {
		@content;
	}
}

/// Mixin for creating responsive classes with optional prefixes
///
/// @require {variable} prefix.$prefix - Global prefix variable
///
/// @param {boolean} $prefix-check - Flag to check if prefix should be used
/// @param {string} $breakpoint - Breakpoint name for the responsive class
/// @param {string} $class - Name of the class to be generated
///
/// @example scss - @include responsive-class(true, 'md', 'text-center') { ... }
///
/// @output Responsive CSS class with optional prefix
@mixin responsive-class(
	$prefix-check,
	$breakpoint,
	$class
) {
	@if $prefix-check == true and prefix.$prefix != '' {
		@if $breakpoint == '2xl' {
			.\32xl\:#{prefix.$prefix}-#{$class} {
				@content;
			}
		} @else {
			.#{$breakpoint}\:#{prefix.$prefix}-#{$class} {
				@content;
			}
		}
	} @else {
		@if $breakpoint == '2xl' {
			.\32xl\:#{$class} {
				@content;
			}
		} @else {
			.#{$breakpoint}\:#{$class} {
				@content;
			}
		}
	}
}

/// Mixin for generating CSS size variables following a progressive scale
///
/// @example scss - @include var-size();
///
/// @output CSS size variables from 0 to 16
@mixin var-size {
	@for $i from 0 through 16 {
		@if $i == 0 {
			--#{$i}: #{$i}rem;
		} @else if $i >= 1 and $i <= 4 {
			--#{$i}: #{calc(($i * 2) / 16)}rem;
		} @else if $i > 4 and $i <= 14 {
			--#{$i}: #{calc((($i * 4) - 8) / 16)}rem;
		} @else if $i > 14 and $i <= 16 {
			--#{$i}: #{calc((($i * 8) - 64) / 16)}rem;
		}
	}
}

/// Mixin for generating classes based on a CSS property with specific values
///
/// @param {string} $property - CSS property to be used
/// @param {list} $classes - List of values/classes to be generated
///
/// @example scss - @include property('color', 'red', 'blue', 'green');
///
/// @output CSS classes for the specified property with the provided values
@mixin property($property, $classes...) {
	@each $class in $classes {
		&-#{$class} {
			#{$property}: $class;
		}
	}
}

/// Mixin for generating classes with custom names based on a CSS property
///
/// @param {string} $name - Name to be used in the class
/// @param {string} $property - CSS property to be used
/// @param {list} $values - List of values to be generated
///
/// @example scss - @include property-name('size', 'width', '100px', '200px');
///
/// @output Custom CSS classes for the specified property
@mixin property-name($name, $property, $values...) {
	@each $value in $values {
		&-#{$name}-#{$value} {
			#{$property}: $value;
		}
	}
}

/// Mixin for generating classes related to display flex with different alignments
///
/// @example scss - @include display-flex();
///
/// @output CSS classes for display flex with alignment variations
@mixin display-flex {
	&-flex {
		display: flex;

		&-start {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}

		&-center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-end {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}

	&-inline-flex {
		display: inline-flex;

		&-center {
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
}

/// Mixin for generating classes related to display grid
///
/// @example scss - @include display-grid();
///
/// @output CSS classes for display grid and inline-grid
@mixin display-grid {
	&-grid {
		display: grid;
	}

	&-inline-grid {
		display: inline-grid;
	}
}
