$breakpoints: (
	'2xl': 96rem,
	'xl': 80rem,
	'lg': 64rem,
	'md': 48rem,
	'sm': 40rem,
);

$sizes-value: (
	'0': 0rem,
	'1': 0.125rem,
	'2': 0.25rem,
	'3': 0.375rem,
	'4': 0.5rem,
	'5': 0.75rem,
	'6': 1rem,
	'7': 1.25rem,
	'8': 1.5rem,
	'9': 1.75rem,
	'10': 2rem,
	'11': 2.25rem,
	'12': 2.5rem,
	'13': 2.75rem,
	'14': 3rem,
	'15': 3.5rem,
	'16': 4rem,
);

/// All sizes
$sizes-new: (
	(
		id: 0,
		name: '5xs',
		valuePX: '0',
		valueEM: '0',
	),
	(
		id: 1,
		name: '4xs',
		valuePX: '2',
		valueEM: '0.125',
	),
	(
		id: 2,
		name: '3xs',
		valuePX: '4',
		valueEM: '0.25',
	),
	(
		id: 3,
		name: '2xs',
		valuePX: '6',
		valueEM: '0.375',
	),
	(
		id: 4,
		name: 'xs',
		valuePX: '8',
		valueEM: '0.5',
	),
	(
		id: 5,
		name: 'sm',
		valuePX: '12',
		valueEM: '0.75',
	),
	(
		id: 5,
		name: 'sm',
		valuePX: '12',
		valueEM: '0.75',
	),
	(
		id: 6,
		name: 'md',
		valuePX: '16',
		valueEM: '1',
	),
	(
		id: 7,
		name: 'lg',
		valuePX: '16',
		valueEM: '1.25',
	),
	(
		id: 8,
		name: 'xl',
		valuePX: '24',
		valueEM: '1.5',
	),
	(
		id: 9,
		name: '2xl',
		valuePX: '28',
		valueEM: '1.75',
	),
	(
		id: 10,
		name: '3xl',
		valuePX: '32',
		valueEM: '2',
	),
	(
		id: 11,
		name: '4xl',
		valuePX: '36',
		valueEM: '2.25',
	),
	(
		id: 12,
		name: '5xl',
		valuePX: '40',
		valueEM: '2.5',
	),
	(
		id: 13,
		name: '6xl',
		valuePX: '44',
		valueEM: '2.75',
	),
	(
		id: 14,
		name: '7xl',
		valuePX: '48',
		valueEM: '3',
	),
	(
		id: 15,
		name: '8xl',
		valuePX: '56',
		valueEM: '3.5',
	),
	(
		id: 16,
		name: '9xl',
		valuePX: '64',
		valueEM: '4',
	)
);

$sizes-name: (
	'0': '5xs',
	'1': '4xs',
	'2': '3xs',
	'3': '2xs',
	'4': 'xs',
	'5': 'sm',
	'6': 'md',
	'7': 'lg',
	'8': 'xl',
	'9': '2xl',
	'10': '3xl',
	'11': '4xl',
	'12': '5xl',
	'13': '6xl',
	'14': '7xl',
	'15': '8xl',
	'16': '9xl',
);

$sizes: (
	'5xs': var(--0),
	'4xs': var(--1),
	'3xs': var(--2),
	'2xs': var(--3),
	'xs': var(--4),
	'sm': var(--5),
	'md': var(--6),
	'lg': var(--7),
	'xl': var(--8),
	'2xl': var(--9),
	'3xl': var(--10),
	'4xl': var(--11),
	'5xl': var(--12),
	'6xl': var(--13),
	'7xl': var(--14),
	'8xl': var(--15),
	'9xl': var(--16),
);
