@use 'sass:map';
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/variables' as variable;
@use 'mixins' as m;

//#region Responsive
// Gera todos os media query com os prefixos responsivos

@each $breakpoint in map.keys(variable.$breakpoints) {
	@include mixin.media-down($breakpoint) {
		@include mixin.responsive-class(
			false,
			$breakpoint,
			'ds'
		) {
			@include mixin.display-grid;
		}
		@include m.responsive($breakpoint);
	}
}
//#endregion
