@mixin base {
	:is(body) {
		font-family: var(--font-family-text);
		font-weight: var(--font-weight-text);
		color: var(--text-color);
		line-height: var(--font-line-height);
	}

	:is(code) {
		font-family: var(--font-family-code);
		font-weight: var(--font-weight-code);
		color: var(--code-color);
		line-height: var(--font-line-height);
	}

	small {
		font-size: var(--small-size);
	}
}

@mixin heading {
	@for $i from 1 through 6 {
		&-#{$i} {
			font-size: var(--heading-#{$i});
		}
	}
}

@mixin font-size {
	&-size-xs {
		font-size: var(--font-size-xs);
	}

	&-size-sm {
		font-size: var(--font-size-sm);
	}

	&-size-md {
		font-size: var(--font-size-md);
	}

	&-size-lg {
		font-size: var(--font-size-lg);
	}

	&-size-xl {
		font-size: var(--font-size-xl);
	}
}
