@mixin form {
	padding: {
		block: 0.5rem;
		inline: 0.5rem;
	}
	border: {
		style: solid;
		width: var(--form-border-width);
		color: var(--form-border-color);
		radius: 0.25rem;
	}
	outline: {
		color: transparent;
		width: var(--form-border-width);
		style: solid;
		offset: -0.0625rem;
	}
	line-height: 1;
}

@mixin input-text {
	cursor: text;
	background-color: transparent;
	&:where(:not(:active)):focus-visible {
		border-color: var(--form-highlight);
		outline: {
			width: var(--form-outline-width);
			color: var(--form-highlight-active);
			offset: 0px;
		}
	}
}

@mixin input-file {
	padding: var(--form-outline-width);
	border: none;
	cursor: pointer;
}

@mixin button {
	cursor: pointer;
	line-height: 1.13;

	&:where(:not(:active)):hover {
		border-color: var(--form-highlight);
		outline: {
			width: var(--form-outline-width);
			color: var(--form-highlight-active);
			offset: 0px;
		}
	}
}

@mixin link {
	line-height: 100%;
	color: var(--form-highlight);
	&:active {
		color: var(--form-link-active);
	}
}

@mixin checkbox-radio {
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 1rem;
	border: {
		style: solid;
		width: 0.0625rem;
		color: var(--form-border-color);
	}

	&:focus {
		border-color: var(--form-highlight);
		outline: {
			width: var(--form-outline-width);
			color: var(--form-highlight-active);
			offset: 0px;
		}
	}

	&:checked {
		border: {
			color: var(--form-highlight);
		}
	}
}

@mixin checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;

	&:checked {
		background-color: var(--form-highlight);

		&::after {
			content: '\2713';
			color: white;
			font-size: 1em;
			position: relative;
		}
	}
}

@mixin radio {
	border-radius: 50%;
	position: relative;

	&:checked {
		&::after {
			content: '';
			position: absolute;
			inset: 0.125rem;
			border-radius: 50%;
			background-color: var(--form-highlight);
		}
	}
}
