@use '../../abstracts/mixins' as abstract;

@mixin flow {
	&-flow {
		&-row {
			grid-auto-flow: row;
		}
		&-col {
			grid-auto-flow: column;
		}
		&-dense {
			grid-auto-flow: dense;
		}
	}
}

@mixin template-column {
	@for $i from 1 through 6 {
		&-tpl-col-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

@mixin template-row {
	@for $i from 1 through 6 {
		&-tpl-row-#{$i} {
			grid-template-rows: repeat(#{$i}, 1fr);
		}
	}
}

@mixin responsive($breakpoint) {
	@include abstract.responsive-class(
		false,
		$breakpoint,
		'grid'
	) {
		@include flow;
		@include template-column;
		@include template-row;
	}
}
